// Mixins

@mixin brs($topLeft, $topRight, $bottomLeft, $bottomRight) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}
