button {
  padding: .5em 1em;
  font-size: 1.5em;
  background-color: $primary-color;
  color: #fff;
  border:none;
  display: block;
  @extend %center-element;
  transition: border-radius .5s, background-color .5s;
  @include brs(0,1em,1em,0);

  &:hover {
    background-color: $secondary-color;
    @include brs(1em,0,0,1em);
  }
}
